<a href="https://colab.research.google.com/github/1333araa/Project-Laravel/blob/main/Copy_of_Challange_Code_1_18_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Challenge 1

In [ ]:
input_array = [1,2,3,4,5]
output_array = [x**2 for x in input_array]
print("Output:", output_array)

Output: [1, 4, 9, 16, 25]

In [ ]:
#Challenge 2

In [ ]:
input_array = [1,2,3,4,5]
output_array = ["ganjil" if x % 2 != 0 else "genap" for x in input_array]
print("Output:", output_array)

Output: ['ganjil', 'genap', 'ganjil', 'genap', 'ganjil']

In [ ]:
#Challenge 3

In [ ]:
input_list = [[1,2,3], [2,3,4], [3,4,5]]
output_list= [sum(sublist) for sublist in input_list]
print ("Output:", output_list)

Output: [6, 9, 12]

In [ ]:
#Example

In [ ]:
input_list = [800, 600, 400, 200]
compared_input = [500, 200, 400]

for i in range(len(input_list)):
    input_list[i] = 1 if input_list[i] in compared_input else 0

print(input_list)

[0, 0, 1, 1]

In [ ]:
#Challenge 4

In [ ]:
input_list = [100, 200, 300, 400, 500]
compared_input = [500, 200, 400, 500]
input_list = [x if x in compared_input else 0 for x in input_list]

print("Output:", input_list)

Output: [0, 200, 0, 400, 500]

In [ ]:
#Challenge 5

In [ ]:
input_data = [
    {'nama': 'Budi', 'gaji': 5000},
    {'nama': 'Dwi', 'gaji': 8000},
    {'nama': 'Joko', 'gaji': 6000}
]

output = {
    "highest_salary": max(input_data, key=lambda x: x['gaji'])['nama'],
    "total_salary": sum(x['gaji'] for x in input_data)
}

print("Output:", output)

In [ ]:
#Challenge 6

In [ ]:
data = {
    "Indoramet": {"Ayam": 30000, "Sayur": 15000, "Buah": 20000, "Ikan": 22000},
    "Alfaramet": {"Ayam": 25000, "Sayur": 12000, "Buah": 30000, "Ikan": 25000}
}
to_buy = {"Ayam": 2, "Sayur": 1, "Ikan": 1}

total = 0
print("Rincian:")
for item, qty in to_buy.items():
    price = min(data["Indoramet"][item], data["Alfaramet"][item])
    cost = price * qty
    total += cost
    print(f"{item} : {qty} * {price} = {cost}")
print("Output =", total)

Rincian:
Ayam : 2 * 25000 = 50000
Sayur : 1 * 12000 = 12000
Ikan : 1 * 22000 = 22000
Output = 84000

In [ ]:
#Challenge 7

In [ ]:
def calculator():
    while True:
        expression = input("calculator: ")
        if expression == "":
            print("Kalkulator berhenti.")
            break
        try:
            result = eval(expression)
            print(f"hasil: {result}")
        except Exception as e:
            print(f"Error: {e}")

calculator()

hasil: 3

# CODING CHALLENGE

In [ ]:
a = (1, 2)
a[0] +=1

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = 2
b = 3
c = 4

if a > b:
    if a > c:
        print(a)
    else:
        print("ABC")
elif a < b:
    if a > c:
        print("AC")
    print("BCA")
else:
    print("CAB")

BCA

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
for x in range(10):
  if x % 2 == 0:
    continue
  print(x)

1
3
5
7
9

In [ ]:
for i in range(5): print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(2, 9, 2): print(i, end=", ")

2, 4, 6, 8,

In [ ]:
for num in numbers: if num > 3: print(num)

SyntaxError: invalid syntax (<ipython-input-13-eb1bd4d89f72>, line 1)

In [ ]:
x = 5
y = 10
print(x > 3 and y < 15)

True

In [ ]:
x = 5
y = 10
print(x > 6 or y < 15)

True

In [ ]:
x = 10
y = 5
z = 15

if x > y and x > z:
    print("X terbesar")
elif y > x and y > z:
    print("Y terbesar")
else:
    print("Z terbesar")

Z terbesar

In [ ]:
angka = [1, 2, 3, 4, 5]
hasil = 0
for x in angka:
    if x % 2 != 0:
        hasil += x
print(hasil)

9